body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
  }
  
  html {
    height: -webkit-fill-available;
  }
  
  main {
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .main-nav
  { 
    background-color:#d82108;
    display: block;
    position: absolute;
    height: 100%;
    z-index: 10;
    top: 0;
    border-radius: 0px 35px 0px 0px;
    transition: all .25s ease;
  }
   
  .dropdown-toggle { outline: 0; }
  
  .btn-toggle {
    padding: .25rem .5rem;
    font-weight: 600;
    color:white; 
    background-color: transparent;
  }
  .btn-toggle:hover,
  .btn-toggle:focus {
    color:white; 
    background-color: red;
  }
  
  .btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
  }
  
  [data-bs-theme="dark"] .btn-toggle::before {
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  }
  
  .btn-toggle[aria-expanded="true"] {
    color:white;
  }

  .btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
  }
  
  .btn-toggle-nav a {
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
  }
   

  .btn-toggle-nav a:hover,
  .btn-toggle-nav a:focus {
    background-color:red;
    color:blue;
  }
  
  .scrollarea {
    overflow-y: auto;
  }


  #plate-nav
  {
      height: 0;
  }

  .sub-nav
  {
    display:none;
  }
  
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black; /* Initially transparent */
    opacity: 0; /* Initially hidden */
    z-index: 99; /* Place it above other content */
    transition: opacity 0.3s ease-out; /* Smooth transition effect */
}

  .a-slide-up-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #0c0c0c;
    overflow: hidden;
    transition: height 0.3s ease-out;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    z-index:100;
    display: flex;
    flex-direction: column;
    border-radius: 0.50rem 0rem 0rem 0rem;
}




.a-menu-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #171928;
  /* Change this to your desired background color 034B53*/
  color: #282830;
  /* Change this to your desired text color */
  height: 4rem;
  /* Adjust the height as needed */
  position: fixed;
  bottom: 0;
  width: 100%;
  opacity: 0.98;
  /* box-shadow: 0 2px 4px rgb(114 108 108 / 50%); */
  border-radius: 5px 5px 0px 0px;
  border-top: 1px solid #b8b8b8 !important;
  z-index:99;
  transition: height 0.3s ease; /* Adjust the duration and timing function */

}

.menu-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  /* Change this to your desired background color 034B53*/
  color: #717171;
  /* Change this to your desired text color */
  height: 4rem;
  /* Adjust the height as needed */
  position: fixed;
  bottom: 0;
  width: 100%;
  opacity: 0.98;
  /* box-shadow: 0 2px 4px rgb(114 108 108 / 50%); */
  border-radius: 5px 5px 0px 0px;
  border-top: 1px solid #EBEBEB !important;
  z-index:99;
  transition: height 0.3s ease; /* Adjust the duration and timing function */

}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
  font-size: 9pt;
  /* font-family:meltie; */
}

.menu-iconx
{
  transition: height 0.3s ease; /* Adjust the duration and timing function */
  
}

.active-text
{
  color:black !important;
  fill:black !important;
}
/* Style the icons (assuming you are using Font Awesome) */
.menu-item i {
  font-size: 24px;
  margin-bottom: -10px;
}

.menu-item span{ padding-top: 0px;

}

.menu-text
{
  transition: size 0.2s ease; /* Adjust the duration and timing function */
}
/* Optional: Add some hover effects or active styles for better user experience */
.menu-item:hover {
  
  /* Change this to your desired hover background color 034B53*/
}

.text-primary
{
  color:#84d958!important;
}

a{
  color:#282830;
  text-decoration: none;
  cursor:pointer;
}

